<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="active" id="login-form-link">Login as doctor</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" id="register-form-link">Register as doctor</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" action="/home/login/doctor" method="post" role="form" style="display: block;">
                                <input type="hidden" name="type" value="doctor">
                                <div class="form-group">
                                    <input type="text" name="Doctor[username]" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="Doctor[password]" id="password" tabindex="2" class="form-control" placeholder="Password">
                                </div>
                                <div class="form-group text-center">
                                    <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                    <label for="remember"> Remember Me</label>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a href="http://phpoll.com/recover" tabindex="5" class="forgot-password">Forgot Password?</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form id="register-form" action="/home/register/doctor" method="post" role="form" style="display: none;">
                                <input type="hidden" name="type" value="doctor">
                                <div class="form-group">
                                    <input type="text" name="Doctor[username]" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="Doctor[email]" id="email" tabindex="2" class="form-control" placeholder="Email Address" value="">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="Doctor[password]" id="password" tabindex="3" class="form-control" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="Doctor[firstname]" id="firstname" tabindex="4" class="form-control" placeholder="First name">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="Doctor[middlename]" id="middlename" tabindex="5" class="form-control" placeholder="Middle name">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="Doctor[lastname]" id="lastname" tabindex="6" class="form-control" placeholder="Last name">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="Doctor[telephone]" id="telephone" tabindex="" class="form-control" placeholder="Telephone">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>